<div class="signup">
  <div class="container">
    First Name: <%= @user.first_name %> <br>
    Last Name: <%= @user.last_name %><br>
    Email: <%= @user.email %><br>
    <%= link_to "Edit", edit_user_path(current_user) %>
  </div>
</div>
